@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body {
  background-image: url('https://cdn.discordapp.com/attachments/1096481199817510922/1107725702918324244/Travis_faint_circuit_boards_and_pixel_fractals_neo_pop_cyberpun_1a7a9997-1255-4c37-882d-2d3f58a71add.png');
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background: size 768px;
  }

  to {
    background-position: -100px 0px;
    background-size: 1024px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 768px;
  }

  to {
    background-position: -256px 0px;
    background-size: 2048px;
  }

}


.landing {
  color: #d6c877;
  text-shadow: 2px 2px #251d1a;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
  text-align: center;
  font-size: calc(7px + 1vmin);
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: rgba(75, 75, 250, 0.062);
  border-radius: 3px;
  padding-top: 1.5%;
}

#landing-hr {
  margin-top: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(84, 240, 92, 0.75), rgba(255, 255, 255, 0)) !important; 
  
}

.landing p{
  padding: 0;
}

.landing-card {
  border-color: rgba(0, 0, 0, 0.021);
  border-style: solid;
  border-radius: 1%;
  background-image: linear-gradient(-90deg, #070c16f6 0%, #0f0c2be8 100%);
  padding: 0;

}

.landing h1 {
  font-family: 'Philosopher', sans-serif;
  color: #ebf3f7 !important;
  margin-bottom: 0;
  margin-top: 0;
}

span:nth-child(1) {
  filter: blur(5px);
}

span:nth-child(2) {
  filter: blur(10px);
}

span:nth-child(3) {
  filter: blur(25px);
}

span:nth-child(4) {
  filter: blur(150px);
}


@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}





header a{
  font-style: normal;
}

.portrait {
  height: 23vh;
}


button {
  cursor: pointer;
}

.button {
  background-color: #29211f;
  color: #b1ecff;
  text-shadow: 0px 0px #7a5b5100;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
  font-family: 'Roboto', sans-serif;
  border: #5B7A51 1px solid;
  border-radius: 5px;
  font-size: calc(5px + 2vmin);
  margin: 1vw;
  padding: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #201a19;
  color: #cef3ff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a3dbee;
  font-family: 'Roboto', sans-serif;
  border: #97c289 1px solid;
  border-radius: 4px;
}

.projects-group {
  flex-direction: row;
  justify-content: space-evenly;
  color: #b1ecff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
  border: #00000060 1px solid;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.39);
  margin-left: 50px;
}

.project-card {
  text-align: center;
  flex: 1;
  border: #00000060 1px solid;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.39);
  margin-left: auto;
}

.project-card img {
  max-width: 10.75vw;
  border-color: rgba(0, 0, 0, 0.021);
  border-style: solid;
  border-radius: 1%;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-family: 'Philosopher', sans-serif;
  color: #b1ecff;
  text-shadow: 2px 2px #7A5B51;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
  font-size: calc(10px + 4vmin);
  margin-left: 5vw;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
}

.contactForm {
  justify-content: center;
  text-align: center;
  color: #b1ecff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
  padding: 0;
}

.contactFormBorder {
  border: #00000060 1px solid;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.39);
}

form input,
form textarea {
  min-width: 88%;
  margin-bottom: 3px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgb(255, 255, 255), rgba(0, 0, 0, 0.1));
}

footer {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 700px) {
  .landing-name-pic {
    flex-direction: column;
  }

  .portrait {
    margin-left: 15px;
    margin-top: 3vh;
  }

  .cert {
    margin-right: 0;
    margin-bottom: 2vh;
    width: 75vw;
  }

  .about-duo {
    flex-direction: column;
  }

  .about-duo .portrait {
    height: 33vw;
  }

  .projects-group {
    flex-direction: column;
  }

  .project-card {
    max-width: 90vw;
  }

  .project-card img {
    max-width: 10vw;
  }
}