.app {
  background-image: linear-gradient(128deg, #140f16 0%, #544b7c 100%);
  min-height: 100vh;
  background-repeat: repeat;
}

.landing {
  font-size: large;
  color: #d6c877;
  text-shadow: 2px 2px #7A5B51;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
  text-align: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing h1 {
  font-family: 'Philosopher', sans-serif;
  color: #b1ecff;
}

.landing-name-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}


.portrait {
  height: 33vh;
  margin-left: 15px;
}

.portrait:hover{
  height: 34vh;
}

button {
  cursor: pointer;
}

.button {
  background-color: #29211f;
  color: #b1ecff;
  text-shadow: 0px 0px #7a5b5100;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
  font-family: 'Roboto', sans-serif;
  border: #5B7A51 1px solid;
  border-radius: 5px;
  font-size: calc(5px + 2vmin);
  margin: 1vw;
  padding: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #201a19;
  color: #cef3ff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a3dbee;
  font-family: 'Roboto', sans-serif;
  border: #97c289 1px solid;
  border-radius: 4px; 
}

.cert{
  width: 50vw;
  margin-right: 10vw;
}

#certs h3 {
  color: #ddc433;
  font-weight: bolder   ;
}

#certs a {
  font-size: large;
  color: #d6c877;
}

#certs a:visited{
  color: #d6cd98;
}

#certs a:hover {
  color: #ffec81;
}

.about {
  color: #b1ecff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
  text-align: center;
  font-size: calc(7px + 1vmin);
  font-family: 'Roboto', sans-serif;
}

.about-q {
  background-color: rgba(0, 0, 0, 0.233);
  border: #7ca36e 1px solid;
  border-radius: 3px;
  margin: 3vw;
  padding: 1vw;
}
.about-q {
  padding-left: 5vw;
  padding-right: 5vw;
}



.about-name-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-duo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3vw;
}

.projects-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #b1ecff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
}

.project-card {
  text-align: center;
  flex: 1;
  background-color: rgba(177, 235, 255, 0.068);
  border: #7ca36e 1px solid;
  border-radius: 3px;
  max-width: 27vw;
  margin: 3vh;
  min-height: 50vh;
}

.project-card img{
  max-width: 20vw;
  border: #7ca36e 1px solid;
  border-radius: 3px;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-family: 'Philosopher', sans-serif;
  color: #b1ecff;
  text-shadow: 2px 2px #7A5B51;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
  font-size: calc(10px + 4vmin);
  margin-left: 5vw;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
}

.contactForm {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #b1ecff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a3dbeeb4;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0);
}

.contactFormBorder {
  border: #7ca36e 1px solid;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 16px;
}

form input, form textarea {
  min-width: 66vw;
  margin-bottom: 20px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgb(255, 255, 255), rgba(0, 0, 0, 0.1));
}

form textarea {
  height: 150px;
}

footer {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 700px) {
  .landing-name-pic {
    flex-direction: column;
  }
  .portrait {
    height: 66vw;
    margin-left: 15px;
    margin-top: 3vh;
  }

  .cert{
    margin-right: 0;
    margin-bottom: 2vh;
    width: 75vw;
  }
  .about-duo {
    flex-direction: column;
  }
  .about-duo .portrait {
    height: 33vw;
  }
  .projects-group {
    flex-direction: column;
  }
  .project-card {
    max-width: 90vw;
  }

  .project-card img{
    max-width: 75vw;
  }
}